<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">

    <link rel="icon" href="{{ asset('bundles/user/images/furious2.1.png') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ asset('bundles/user/images/furiousSmall.png') }}" type="image/x-icon" />

    <title>admin</title>
    <!--DataTable-->
    <link href="{{ asset('assets/js/advanced-datatable/css/demo_page.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/js/advanced-datatable/css/demo_table.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('assets/js/data-tables/DT_bootstrap.css') }}" />
    <link href="{{ asset('assets/css/style.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/css/style-responsive.css')}}" rel="stylesheet">

    <!--icheck-->
    <link href="{{ asset('assets/js/iCheck/skins/minimal/minimal.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/js/iCheck/skins/square/square.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/js/iCheck/skins/square/red.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/js/iCheck/skins/square/blue.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/user/ckeditor/ckeditor.js') }}"></script>

    <!--dashboard calendar-->
    <link href="{{ asset('assets/css/clndr.css') }}" rel="stylesheet">

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="{{ asset('assets/js/morris-chart/morris.css') }}">

    <!--common-->
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/style-responsive.css') }}" rel="stylesheet">

    <!--Sweet Alert-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/dist/sweetalert.css') }}">


    <script href="{{ asset('assets/js/html5shiv.js') }}"></script>
    <script href="{{ asset('assets/js/respond.min.js') }}"></script>
    <!-- Menu de css pour description-->

</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="{{ path('Page_Agent') }}"><img src="{{ asset('assets/images/logo.png') }}"   alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="{{ path('Page_Agent') }}"><img src="{{ asset('assets/images/logo_icon.png') }}"  alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">
            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="{{ path('Page_Agent') }}"><i class="fa fa-home"></i> <span>Gestion de SAHTEK</span></a>
                </li>
                <li class="nav nav-pills nav-stacked custom-nav"><a href="#"> <span>Gestion Reclamation</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="#">Table de reclamation</a></li>

                    </ul></li>
                <li class="nav nav-pills nav-stacked custom-nav"><a href="{{ path('Page_Agent') }}"> <span>Gestion Utilisateurs</span></a></li>
                <li class="nav nav-pills nav-stacked custom-nav"><a href="#" target="_blank">

                        <span>Gestion Aticles </span></a></li>
                <li class="nav nav-pills nav-stacked custom-nav"><a href="{{ path('manager_articles_index') }}" target="_self">
                        <img src="{{ asset('bundles/user/images/article1.png') }}" alt="gestion articles">
                        <span>Gestion Questions</span></a>
                <ul>
                    <a href="{{ path('manager_articles_new') }}">
                            <img src="{{ asset('bundles/user/images/add.png') }}" alt="">
                            <span>  ajouter questions</span></a>
                    <br>
                    <br>
                  <a href="{{ path('manager_articles_index') }}">
                            <img src="{{ asset('bundles/user/images/list1s.png') }}" alt="">
                            <span>List des questions</span></a>
                </ul>

                </li>

                <li class="nav nav-pills nav-stacked custom-nav"><a href="#"> <span>Gestion Médicaments</span></a></li>
                <li class="nav nav-pills nav-stacked custom-nav"><a href="#"> <span>Gestion Hopitaux </span></a></li>
                <li class="nav nav-pills nav-stacked custom-nav"><a href="#"> <span>Gestion Centres de soin</span></a></li>
                <li class="nav nav-pills nav-stacked custom-nav"><a href="#"> <span>Gestion Offres</span></a></li>
                <li class="nav nav-pills nav-stacked custom-nav"><a href="#"> <span>Gestion Produits </span></a></li>




            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->

            <!--search start-->
            <form class="searchform" action="#" method="post">
                <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
            </form>
            <!--search end-->

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">

                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown" >
                            <i class="fa fa-bell-o"></i>
                            <span class="badge">menu</span>
                            <img src="{{ asset('bundles/user/images/m_button_blue.png') }}" alt="">
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                            <h5 class="title">Menu de Log Out</h5>
                            <ul class="dropdown-list normal-list">
                                <li class="new">
                                    <a href="{{ path('fos_user_profile_edit') }}">
                                        <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                        <span class="name">Modifier Profil </span>

                                    </a>
                                </li>
                                <li class="new">
                                    <a href="{{ path('fos_user_profile_show') }}">
                                        <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                        <span class="name">View Profil </span>

                                    </a>
                                </li>
                                <li class="new" >
                                    <a href="{{ path('fos_user_security_logout') }}" >
                                        <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                        <span class="name">logout </span>

                                    </a>
                                </li>


                            </ul>
                        </div>
                    </li>
                    <li>
                        {% block adminName %}

                        {% endblock %}

                    </li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->


        <!-- page heading start-->
        <div class="page-heading">
            <h3>Bienvenue au tableau de bord de SAHTEK</h3>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            {% block content %}
            {% endblock %}


        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer>
            2018 &copy; Admin page by Khaled Guesmi & Furious Team
        </footer>
        <!--footer section end-->
    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="{{ asset('assets/js/jquery-1.10.2.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery-ui-1.9.2.custom.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery-migrate-1.2.1.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/modernizr.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.nicescroll.js') }}"></script>

<!--easy pie chart-->
<script src="{{ asset('assets/js/easypiechart/jquery.easypiechart.js') }}"></script>
<script src="{{ asset('assets/js/easypiechart/easypiechart-init.js') }}" ></script>

<!--Sparkline Chart-->
<script src="{{ asset('assets/js/sparkline/jquery.sparkline.js') }}"></script>
<script src="{{ asset('assets/js/sparkline/sparkline-init.js') }}" ></script>

<!--icheck -->
<script src="{{ asset('assets/js/iCheck/jquery.icheck.js') }}" ></script>
<script src="{{ asset('assets/js/icheck-init.js') }}" ></script>

<!-- jQuery Flot Chart-->
<script src="{{ asset('assets/js/flot-chart/jquery.flot.js') }}" ></script>
<script src="{{ asset('assets/js/flot-chart/jquery.flot.tooltip.js') }}" ></script>
<script src="{{ asset('assets/js/flot-chart/jquery.flot.resize.js') }}" ></script>


<!--Morris Chart-->
<script src="{{ asset('assets/js/morris-chart/morris.js') }}" ></script>
<script src="{{ asset('assets/js/morris-chart/raphael-min.js') }}" ></script>

<!--Calendar-->
<script src="{{ asset('assets/js/calendar/clndr.js') }}" ></script>
<script src="{{ asset('assets/js/calendar/evnt.calendar.init.js') }}" ></script>
<script src="{{ asset('assets/js/calendar/moment-2.2.1.js') }}" ></script>
<script src={{ asset ('https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')}}></script>

<!--common scripts for all pages-->
<script src="{{ asset('assets/js/scripts.js') }}" ></script>

<!--Dashboard Charts-->
<script src="{{ asset('assets/js/dashboard-chart-init.js') }}"></script>
<!--dynamic table-->
<hr>
<script src="{{ asset('http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js') }}"></script>
<script src="{{ asset('http://getbootstrap.com/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/dist/sweetalert.min.js') }}"></script>


</body>
</html>
