<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Page d'acceuil </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Bakery In Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href="{{ asset ('bundles/css/bootstrap.css')}}" rel="stylesheet" type="text/css" media="all" /><!-- bootstrap css -->
    <link href="{{ asset ('bundles/css/style.css')}}" rel="stylesheet" type="text/css" media="all" />

    <link href="{{ asset ('bundles/css/font-awesome.css')}}" rel="stylesheet"> <!-- fontawesome css -->
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <!--//fonts-->

</head>
<body>

<!-- header -->
<div class="header" id="home">
    <div class="content white">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <!--/.navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li><a href="index.html.twig" class="active">ACCUEIL</a></li>
                            <li><a href="services.html">SERVICES</a></li>
                            <li><a href="espaceclient.html">ESPACE CLIENT</a></li>

                            <li><a href="about.html">ABOUT </a></li>
                            <li><a href="contact.html">CONTACTEZ-NOUS</a></li>
                        </ul>
                    </nav>
                </div>
                <!--/.navbar-collapse-->
                <!--/.navbar-->
            </div>
        </nav>
    </div>
</div>
<!-- //header -->

<!-- banner slider -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <div class="col-md-6 slider_left">
                        <h2>facilisis non est ut, <span>bibendum finibus est.</span></h2>
                        <p>Nulla tempus mollis nulla, a sollicitudin orci posuere sit amet. Nam sed consectetur nulla, in auctor nunc.</p>
                        <a href="#about" class="hvr-bounce-to-right read scroll"><span class="fa fa-birthday-cake" aria-hidden="true"></span>Read More</a>
                    </div>
                    <div class="col-md-6 slider_right">
                        <img src="{{ asset ('bundles/images/cake.png')}}" alt="cake1" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="item item2">
            <div class="container">
                <div class="carousel-caption">
                    <div class="col-md-6 slider_left">
                        <h3>facilisis non est ut, <span>bibendum finibus est.</span></h3>
                        <p>Nulla tempus mollis nulla, a sollicitudin orci posuere sit amet. Nam sed consectetur nulla, in auctor nunc.</p>
                        <a href="#about" class="hvr-bounce-to-right read scroll"><span class="fa fa-birthday-cake" aria-hidden="true"></span>Read More</a>
                    </div>
                    <div class="col-md-6 slider_right">
                        <img src="{{ asset ('/images/cake1.png')}}" alt="cake1" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="container">
                <div class="carousel-caption">
                    <div class="col-md-6 slider_left">
                        <h3>facilisis non est ut, <span>bibendum finibus est.</span></h3>
                        <p>Nulla tempus mollis nulla, a sollicitudin orci posuere sit amet. Nam sed consectetur nulla, in auctor nunc.</p>
                        <a href="#about" class="hvr-bounce-to-right read scroll"><span class="fa fa-birthday-cake" aria-hidden="true"></span>Read More</a>
                    </div>
                    <div class="col-md-6 slider_right">
                        <img src="{{ asset ('bundles/images/cake2.png')}}" alt="cake1" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="item item4">
            <div class="container">
                <div class="carousel-caption">
                    <div class="col-md-6 slider_left">
                        <h3>facilisis non est ut, <span>bibendum finibus est.</span></h3>
                        <p>Nulla tempus mollis nulla, a sollicitudin orci posuere sit amet. Nam sed consectetur nulla, in auctor nunc.</p>
                        <a href="#about" class="hvr-bounce-to-right read scroll"><span class="fa fa-birthday-cake" aria-hidden="true"></span>Read More</a>
                    </div>
                    <div class="col-md-6 slider_right">
                        <img src="{{ asset ('bundles/images/cake3.png')}}" alt="cake1" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!-- The Modal -->
</div>
<!-- //banner slider -->

<!-- welcome -->
<div class="welcome">
    <div class="container">
        <div class="col-md-6 welcome-w3lright">
            <div class="video-grid-single-page-agileits">
                <div data-video="qvtjaAW3m-E" id="video"> <img src="{{ asset ('bundles/images/about.png')}}" alt="" class="img-responsive" /> </div>
            </div>
        </div>
        <div class="col-md-6 welcome_left">
            <h3 class="agileits-title">Welcome To Bakery In</h3>
            <h4>Donec in nisi non ipsum luctus interdi est. Cras ipsum augue, facilisis non estut, bibendum finibus.</h4>
            <p>Phasellus sed semper dolor, sed sodales erat. Donec at mi nunc. Suspendisse dictum lorem nec velit scelerisque, ac egestas sem tempor. Integer at facilisis enim. Vestibulum tristique consequat finibus. Donec ut elementum lorem, id dignissim neque. Curabitur commodo, odio sit amet vestibulum pretium, urna quam tincidunt elit, a tempus ex urna sit amet tortor. Nulla volutpat pulvinar interdum.
                Mauris vel malesuada magna, in venenatis erat. Vestibulum volutpat faucibus semper.</p>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //welcome -->



<!-- Popular cakes -->
<div class="popular_cakes">
    <div class="container">
        <h3 class="heading">Most Popular cakes</h3>
        <div class="cakes_grids">
            <div class="col-md-4">
                <div class="cakes_grid1">
                    <img src="{{ asset ('bundles/images/c1.jpg')}}" alt="popular cakes" />
                    <h3>Sponge Cake</h3>
                    <p>Vestibulum volutpat faucibus semper</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cakes_grid1">
                    <img src="{{ asset ('bundles/images/c2.jpg')}}" alt="popular cakes" />
                    <h3>Dessert Cake</h3>
                    <p>Vestibulum volutpat faucibus semper</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cakes_grid1">
                    <img src="{{ asset ('bundles/images/c3.jpg')}}" alt="popular cakes" />
                    <h3>Cream Cake</h3>
                    <p>Vestibulum volutpat faucibus semper</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="cakes_bottom_grids">
                <div class="col-md-4">
                    <div class="cakes_grid1">
                        <img src="{{ asset ('bundles/images/c4.jpg')}}" alt="popular cakes" />
                        <h3>Cream Cake</h3>
                        <p>Vestibulum volutpat faucibus semper</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cakes_grid1">
                        <img src="{{ asset ('bundles/images/c5.jpg')}}" alt="popular cakes" />
                        <h3>Chocolate Cake</h3>
                        <p>Vestibulum volutpat faucibus semper</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cakes_grid1">
                        <img src="{{ asset ('bundles/images/c6.jpg')}}" alt="popular cakes" />
                        <h3>Butter Cake</h3>
                        <p>Vestibulum volutpat faucibus semper</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- //Popular cakes -->


<!-- team -->
<div class="team" id="team">
    <div class="agile_dot_info two">
        <div class="container">
            <h3 class="heading">Our Staff</h3>
            <div class="agileits_team_grids">
                <div class="col-md-3">
                    <div class="agileits_team_grid">
                        <div class="agileits_team_grid_figure">
                            <img src="{{ asset ('bundles/images/chef1.jpg')}}" alt=" " class="img-responsive" />
                        </div>
                        <h4>Jane Robert</h4>
                        <div class="social-icon">
                            <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="agileits_team_grid">
                        <div class="agileits_team_grid_figure">
                            <img src="{{ asset ('bundles/images/chef2.jpg')}}" alt=" " class="img-responsive" />
                        </div>
                        <h4>James Doe</h4>
                        <div class="social-icon">
                            <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="agileits_team_grid">
                        <div class="agileits_team_grid_figure">
                            <img src="{{ asset ('bundles/images/chef3.jpg')}}" alt=" " class="img-responsive" />
                        </div>
                        <h4>Laura Olivia</h4>
                        <div class="social-icon">
                            <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="agileits_team_grid">
                        <div class="agileits_team_grid_figure">
                            <img src="{{ asset ('bundles/images/chef4.jpg')}}" alt=" " class="img-responsive" />
                        </div>
                        <h4>William James</h4>
                        <div class="social-icon">
                            <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!-- //team -->

<!-- testimonials -->
<div class="testimonials">
    <div class="container">
        <h3 class="heading">Our Customer reviews</h3>
        <div class="testimonials-grids">
            <div class="wmuSlider example1 animated wow slideInUp" data-wow-delay=".5s">
                <div class="wmuSliderWrapper">
                    <article style="position: absolute; width: 100%; opacity: 0;">
                        <div class="banner-wrap">
                            <div class="testimonials-grid">
                                <div class="testimonials-grid-left">
                                    <img src="{{ asset ('bundles/images/t1.jpg')}}" alt=" " class="img-responsive" />
                                </div>
                                <div class="testimonials-grid-right">
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                        praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                        excepturi sint occaecati cupiditate non provident. Duis maximus, velit posuere rutrum tempus, nibh ligula semper felis.</p>
                                    <h4>Richard Doe</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </article>
                    <article style="position: absolute; width: 100%; opacity: 0;">
                        <div class="banner-wrap">
                            <div class="testimonials-grid">
                                <div class="testimonials-grid-left">
                                    <img src="{{ asset ('bundles/images/t3.jpg')}}" alt=" " class="img-responsive" />
                                </div>
                                <div class="testimonials-grid-right">
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                        praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                        excepturi sint occaecati cupiditate non provident. Duis maximus, velit posuere rutrum tempus, nibh ligula semper felis.</p>
                                    <h4>Rita James</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </article>
                    <article style="position: absolute; width: 100%; opacity: 0;">
                        <div class="banner-wrap">
                            <div class="testimonials-grid">
                                <div class="testimonials-grid-left">
                                    <img src="{{ asset ('bundles/images/t2.jpg')}}" alt=" " class="img-responsive" />
                                </div>
                                <div class="testimonials-grid-right">
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                        praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                        excepturi sint occaecati cupiditate non provident. Duis maximus, velit posuere rutrum tempus, nibh ligula semper felis.</p>
                                    <h4>Crisp Ali</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </article>
                    <article style="position: absolute; width: 100%; opacity: 0;">
                        <div class="banner-wrap">
                            <div class="testimonials-grid">
                                <div class="testimonials-grid-left">
                                    <img src="{{ asset ('bundles/images/t1.jpg')}}" alt=" " class="img-responsive" />
                                </div>
                                <div class="testimonials-grid-right">
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                        praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                        excepturi sint occaecati cupiditate non provident. Duis maximus, velit posuere rutrum tempus, nibh ligula semper felis</p>
                                    <h4>Laura roy</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //testimonials -->


<!-- /about -->
<div class="about">
    <div class="container">
        <div class="wthree_head_section">
            <h3 class="heading">Know More About Our Bakery In</h3>
        </div>
        <div class="agile_wthree_inner_grids">
            <div class="col-md-6 about_agileinfo">
                <h4>Muisque sit amet sapien</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s but also the leap into electronic typesetting dolor amet.</p>
                <div class="mid-inner-info">
                    <div class="col-md-6 mid-inner-sec one">
                        <span class="fa fa-birthday-cake" aria-hidden="true"></span>
                        <h5>Delicious Cakes</h5>
                        <p>Lorem Ipsum is simply text the printing and typesetting standard industry.</p>

                    </div>
                    <div class="col-md-6 mid-inner-sec">
                        <span class="fa fa-cutlery" aria-hidden="true"></span>
                        <h5>Cheesecake Slices</h5>
                        <p>Lorem Ipsum is simply text the printing and typesetting standard industry.</p>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 about_agileinfo"><div class="mid-inner-info">
                    <div class="col-md-6 mid-inner-sec one">
                        <span class="fa fa-birthday-cake" aria-hidden="true"></span>
                        <h5>Baked Cakes</h5>
                        <p>Lorem Ipsum is simply text the printing and typesetting standard industry.</p>

                    </div>
                    <div class="col-md-6 mid-inner-sec">
                        <span class="fa fa-spoon" aria-hidden="true"></span>
                        <h5>Fresh Cakes</h5>
                        <p>Lorem Ipsum is simply text the printing and typesetting standard industry.</p>

                    </div>
                    <div class="clearfix"></div>
                    <h4>Muisque sit amet sapien</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                        dummy text ever since the 1500s but also the leap into electronic typesetting dolor amet.</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//about -->
<!-- subscribe -->
<div class="subscribe">
    <div class="container">
        <h3 class="heading">Subscribe To Get Notifications</h3>
        <div class="subscribe-grid">
            <form action="#" method="post">
                <input type="email" placeholder="Enter Your Email" name="email" required="">
                <button class="btn1"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</div>
<!-- //subscribe -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="w3_agile_footer_grids">
            <ul class="col-md-3 col-xs-6 w3_agile_footer_grid right">
                <h3>Opening Hours</h3>
                <li><span class="fa fa-clock-o" aria-hidden="true"></span>Monday <span>9:00 - 14:00</span></li>
                <li><span class="fa fa-clock-o" aria-hidden="true"></span>Tuesday <span>9:00 - 14:00</span></li>
                <li><span class="fa fa-clock-o" aria-hidden="true"></span>Wednesday <span>9:00 - 14:00</span></li>
                <li><span class="fa fa-clock-o" aria-hidden="true"></span>Thursday <span>9:00 - 14:00</span></li>
                <li><span class="fa fa-clock-o" aria-hidden="true"></span>Friday <span>9:00 - 14:00</span></li>
                <li><span class="fa fa-clock-o" aria-hidden="true"></span>Saturday <span>9:00 - 14:00</span></li>
                <li><span class="fa fa-clock-o" aria-hidden="true"></span>Sunday <span>Closed</span></li>
            </ul>
            <div class="col-md-3 col-xs-6 w3_agile_footer_grid">
                <h3>Navigation</h3>
                <ul class="agileits_w3layouts_footer_grid_list">
                    <li>
                        <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                        <a href="about.html">About Us</a>
                    </li>
                    <li>
                        <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                        <a href="gallery.html">Gallery</a>
                    </li>
                    <li>
                        <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                        <a href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-6 w3ls_address_mail_footer_grids w3_agile_footer_grid">
                <h3>Contact Us</h3>
                <div class="w3ls_footer_grid_left">
                    <div class="w3l-icon">
                        <span class="fa fa-map-marker" aria-hidden="true"></span>
                    </div>
                    <p>2055 PR Cross Road,
                        <span>Kennebec SD, USA.</span>
                    </p>
                    <div class="clearfix"></div>
                </div>
                <div class="w3ls_footer_grid_left">
                    <div class="w3l-icon">
                        <span class="fa fa-phone" aria-hidden="true"></span>
                    </div>
                    <p>+(112) 455 312 671
                        <span>+(029) 664  951 859</span>
                    </p>
                    <div class="clearfix"></div>
                </div>
                <div class="w3ls_footer_grid_left">
                    <div class="w3l-icon">
                        <span class="fa fa-envelope-o" aria-hidden="true"></span>
                    </div>
                    <p>
                        <a href="mailto:info@example.com">mail@example1.com</a>
                        <span>
								<a href="mailto:info@example.com">mail@example2.com</a>
							</span>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 w3_agile_footer_grid">
                <h3>Instagram Posts</h3>
                <div class="w3_agileits_footer_grid_left">
                    <a href="#">
                        <img src="{{ asset ('bundles/images/post1.jpg')}}" alt=" " class="img-responsive" />
                    </a>
                </div>
                <div class="w3_agileits_footer_grid_left">
                    <a href="#">
                        <img src="{{ asset ('bundles/images/post2.jpg')}}" alt=" " class="img-responsive" />
                    </a>
                </div>
                <div class="w3_agileits_footer_grid_left">
                    <a href="#">
                        <img src="{{ asset ('bundles/images/post3.jpg')}}" alt=" " class="img-responsive" />
                    </a>
                </div>
                <div class="w3_agileits_footer_grid_left">
                    <a href="#">
                        <img src="{{ asset ('bundles/images/post4.jpg')}}" alt=" " class="img-responsive" />
                    </a>
                </div>
                <div class="w3_agileits_footer_grid_left">
                    <a href="#">
                        <img src="{{ asset ('bundles/images/post5.jpg')}}" alt=" " class="img-responsive" />
                    </a>
                </div>
                <div class="w3_agileits_footer_grid_left">
                    <a href="#">
                        <img src="{{ asset ('bundles/images/post6.jpg')}}" alt=" " class="img-responsive" />
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="agileinfo_copyright">
            <p>© 2018 Bakery In. All Rights Reserved | Design by <a href="https://w3layouts.com/">W3layouts</a>
            </p>
        </div>
    </div>
</div>
<!-- //footer -->

<!-- Supportive js -->
<script type="text/javascript" src="{{ asset ('bundles/js/jquery-2.1.4.min.js')}}"></script>
<!-- //Supportive js -->

<!-- banner bottom video script -->
<script src="{{ asset ('bundles/js/simplePlayer.js')}}"></script>
<script>
    $("document").ready(function() {
        $("#video").simplePlayer();
    });
</script>
<!-- //banner bottom video script -->

<!-- testimonials plugin script -->
<script src="{{ asset ('bundles/js/jquery.wmuSlider.js')}}"></script>
<script>
    $('.example1').wmuSlider();
</script>
<!-- testimonials plugin script -->

<!-- smooth scrolling js -->
<script src="{{ asset ('bundles/js/SmoothScroll.min.js')}}"></script>
<!-- smooth scrolling js -->

<!-- start-smooth-scrolling -->
<script type="text/javascript" src="{{ asset ('bundles/js/move-top.js')}}"></script>
<script type="text/javascript" src="{{ asset ('bundles/js/easing.js')}}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>

<!-- here starts scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->

<!-- move to top-js-files -->
<script type="text/javascript" src="{{ asset ('bundles/js/move-top.js')}}"></script>
<script type="text/javascript" src="{{ asset ('bundles/js/easing.js')}}"></script>
<!-- //move to top-js-files -->

<script type="text/javascript" src="{{ asset ('bundles/js/bootstrap.js')}}"></script><!-- bootstrap js file -->

</body>
</html>