<link rel="stylesheet" href="{{ asset('bundles/user/css/css.css') }}" xmlns="http://www.w3.org/1999/html">
{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


    <div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front" tabindex="-1" role="dialog" aria-describedby="dialog_form" aria-labelledby="ui-id-1" style="height: auto; width: 420px; top: 88.5px; left: 461px; display: block;">
        <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">

            <span id="ui-id-1" class="ui-dialog-title">Login</span>
        </div>
            <div id="dialog_form" showout="showOut" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 0 ; max-height: none; height: 382px;">


            <div class="clearfix" id="login_dialog">
                <div class="main sign_dialog" style="height:350px;">
                <form action="{{ path("fos_user_security_check") }}" method="post" class="register" target="xajax" name="form" id="form">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <fieldset>
                         <div class="login">
                             <div class="fullin_bg clearfix">
                                 <div class="user">

                                 <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"  id="dialog_username" placeholder="Username/Email" data-state="1"/>
                                     <p class="info_con">

                                     </p>
                                     <span class="showIco">

                                </span>
                                 </div>
                                 <div class="password">
    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" class="text userpass" id="dialog_password" placeholder="Password" value="" data-state="1"/><br>
                                     <p class="info_con">

                                     </p>
                                     <span class="showIco">

                                </span>
                                 </div>
                             </div>

                             <div class="cbox">
                                 <label for="c1">{{ 'security.login.remember_me'|trans }}
                       <span id="check_agree" class="check_agree">
                           <span class="agreen"><input type="checkbox" checked="checked" id="remember_me" value="on"></span>
                                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                           <a href="#" target="_blank" id="forget_word">Forgot password</a>
                       </span>
                                 </label>
                             </div>

                             <br><br>
                             <input type="submit" class="sub_btn play sub_login_btn"  id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" formtarget="_self" />




    </div>


                </fieldset>
                </form>
                    <div class="login_with">
                        <div class="login_new">
               <span>Don't have an account?  &nbsp;&nbsp;<a href="{{ 'register' }}"   dialog_type="Sign Up" title="Sign Up" class="show_form">
                       Sign up now!</a>&nbsp;
               </span>
                        </div>

                    </div>
    </div>
    </div>
    </div>
    </div>

