{% extends "::layout.html.twig" %}
{% block styles_scripts %}

    <link rel="stylesheet" href="{{ asset ('css/bootstrap.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ asset('css/camera.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="screen">
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/superfish.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/jquery.ui.totop.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/camera.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.mobile.customized.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/jquery.caroufredsel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.touchSwipe.min.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ asset('assets/css/touchTouch.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ asset('css/isotope.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="screen">


    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/superfish.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/jquery.ui.totop.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/touchTouch.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.isotope.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            //



        }); //
        $(window).load(function() {
            // isotop
            var $container = $('#isotope-items'),
                $optionSet = $('#isotope-options'),
                $optionSets = $('#isotope-filters'),
                $optionLinks = $optionSets.find('a');
            $container.isotope({
                filter: '*',
                layoutMode: 'fitRows'
            });
            $optionLinks.click(function(){
                var $this = $(this);
                // don't proceed if already selected
                if ( $this.hasClass('selected') ) {
                    return false;
                }
                $optionSet.find('.selected').removeClass('selected');
                $this.addClass('selected');

                var selector = $(this).attr('data-filter');
                $container.isotope({
                    filter: selector
                });
                return false;
            });

            $(window).on("resize", function( event ) {
                $container.isotope('reLayout');
            });

            // touchTouch
            $('.thumb-isotope .thumbnail a').touchTouch();

        }); //
    </script>
    <style type="text/css">
        .pagename {
            color: #0d52d4;
            line-height:30px;
            font-size: 40px;
            margin-top: 0;
            margin-bottom: 30px;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;

        }


    </style>
    <!--[if lt IE 8]>
    <div style='text-align:center'><a href="https://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"alt=""/></a></div>
    <![endif]-->

    <!--[if lt IE 9]>
    <div style='text-align:center'><a href="https://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode">
        <img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0" alt=""/></a></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js">

    <![endif]-->
    <link rel="stylesheet" src="{{ asset('css/ie.css') }}" type="text/css" media="screen">
{% endblock %}
  {% block content %}


    <div id="content">
        <div class="container">
            <div class="row">
                <div class="span12">

                    <h1>Questions</h1>

                    <div id="isotope-options">
                        <ul id="isotope-filters" class="clearfix">
                            <li><a href="#" class="selected" data-filter="*">Show All</a></li>
                            <li><a href="#" data-filter=".isotope-filter1">Engine</a></li>
                            <li><a href="#" data-filter=".isotope-filter2">Epidémie</a></li>
                            <li><a href="#" data-filter=".isotope-filter3">Autres</a></li>
                        </ul>
                    </div>


 <ul class="thumbnails" id="isotope-items">


     {% for m in article %}

                        <li class="span3 isotope-element isotope-filter1">
                            <div class="thumb-isotope">
                                <div class="thumbnail clearfix ">
                                    <a href="{{ asset('upload_images/upload_img/' ~ m.image) }}"  >
                                        <figure>
                                            <em></em><img src="{{ asset('upload_images/upload_img/' ~ m.image) }}" alt=""  style="width:275px; height:360px;"><em></em>
                                        </figure>
                                        <div class="caption">
                                           {{ m.titre }}
                                        </div>
                                    </a>

                                </div>
                                <a href="{{ path('Affiche_Question', { 'idArticle': m.idArticle }) }}" class="button0">lire plus</a>
                            </div>
                        </li>



                        <li class="span3 isotope-element isotope-filter2">
                            <div class="thumb-isotope">
                                <div class="thumbnail clearfix">
                                    <a href="{{ asset('upload_images/upload_img/' ~ m.image) }}">
                                        <figure>
                                            <em></em> <img src="{{ asset('upload_images/upload_img/' ~ m.image) }}" alt=""  style="width:275px; height:360px;"><em></em>
                                        </figure>
                                        <div class="caption">
                                            {{ m.titre }}
                                        </div>
                                    </a>

                                </div>
                                <a href="{{ path('Affiche_Question', { 'idArticle': m.idArticle }) }}" class="button0">lire plus</a>
                            </div>
                        </li>

                            <li class="span3 isotope-element isotope-filter3">
                                <div class="thumb-isotope">
                                    <div class="thumbnail clearfix">
                                        <a href="{{ asset('upload_images/upload_img/' ~ m.image) }}">
                                            <figure>
                                                <img src="{{ asset('upload_images/upload_img/' ~ m.image) }}" alt=""   style="width:275px; height:360px;"><em></em>
                                            </figure>
                                            <div class="caption">
                                                {{ m.titre }}
                                            </div>
                                        </a>

                                    </div>
                                    <a href="{{ path('Affiche_Question', { 'idArticle': m.idArticle }) }}" class="button0">lire plus</a>
                                </div>
                            </li>

             {% endfor %}

  </ul>





                </div>
            </div>
        </div>
    </div>

    {% endblock %}
