






{% extends ":default:admin.html.twig" %}
{% block adminName %}


{% endblock %}
{% block content %}
    <table border="1" align="centre">
        <tr><td>Identifiant</td>
            <td>Nom d'Utilisateur</td>
            <td>Email</td>
            <td>Dernier Login</td>
            <td>Requéte de mots de passe </td>
            <td>Role</td>
            <td>Nom</td>
            <td>Nom de Famille</td>
            <td>Numéro de CIN</td>
            <td>Adresse</td>

        </tr>
        {% for m in users %}
            <tr>
                <td>{{ m.id}}</td>
                <td>{{ m.username }}</td>
                <td>{{ m.email }}</td>
                <td>{{ m.lastLogin|date}}</td>
                <td>{{ m.passwordRequestedAt|date }}</td>
                <td> {% for i in m.getRoles() %}
                    <li> {{ i }}</li>
                    {% endfor %}

                </td>
                <td>{{ m.name}}</td>
                <td>{{ m.getFamilyName()}}</td>
                <td>{{ m.cin}}</td>
                <td>{{ m.address}}</td>


            </tr>

        {% endfor %}
    </table>
    <br>
    <br>


{% endblock %}
